<% include ./partials/header %>


<div class="contact-info-container">
    <div class="contact-info-template">
        <a class="fa fa-google"></a>
        <span class="contact-info">EMAIL:   </span>
        <span class="contact-info">rodriguez.janrichard@gmail.com</span>
        <hr>
    </div>
    <div class="contact-info-template">
        <a class="fa fa-linkedin"></a>
        <span class="contact-info">LINKEDIN:    </span>
        <span class="contact-info"><a href="https://www.linkedin.com/in/jan-richard-rodriguez/" class="link"> linkedin.com/in/jan-richard-rodriguez/</a></span>
        <hr>
    </div>
    <div class="contact-info-template">
        <a class="fa fa-github"></a>
        <span class="contact-info">GITHUB:  </span>
        <span class="contact-info"><a href="https://github.com/rodriguez-jan" class="link">github.com/rodriguez-jan</a></span>
        <hr>
    </div>
    <div class="contact-info-template">
        <a class="fa fa-facebook"></a>
        <span class="contact-info">FACEBOOK:    </span>
        <span class="contact-info"><a href="https://www.facebook.com/janrodriguez20" class="link">facebook.com/janrodriguez20</a></span>
        <hr>
    </div>
    <div></div>
</div>


<% include ./partials/footer %>