<% include ./partials/header %> 

<div class="wrapper">
    <div class="Banner">
        <img class ="dude-icon" src ="/images/man.png">
        <p class="Header-text">Hi, I am Jan!</p>
        <div class="Banner-text">
          <p>I'm a geek at heart as I love learning about all things related to computers. I have self-taught myself full-stack web development, mobile app development and DevOps fundementals. I have a strong passion for developing efficient and secure applications.</p>
          <p>Currently I'm a junior studying computer science looking to get as much software engineering experience as possible. If you need a highly motivated and effective worker thats hungry to learn, take a chance on me and I will prove my worth. </p>
        </div>
    </div>
</div>

<div class="Hobbies">
    <p class="Hobbies-Header">Favorite Hobbies</p>
    <div class="row Hobbies-row">
        <div class="col-lg-3 col-sm-6">
            <h2 class="Value-category">Tennis</h2>
            <p class="Hobbies-text">Tennis is my choice sport for when I want some form of physical activity. My friends convinced me to start playing for the tennis team in my sophmore year in high school. Ever since then I fell in love with the sport and never looked back. I mainly played doubles in my time but I'm up to play singles as well.</p>
            <img src="/images/tennis.jpg" class="Hobby-image">
        </div>
        <div class="col-lg-3 col-sm-6">
            <h2 class="Value-category">E-sports</h2>
            <p class="Hobbies-text">I love all things about video games especially e-sports which has a close space to my heart. The games that I'm most invested into are Dota 2 and Leauge of Legends. One of my most memorable experiences was when I went to Seattle to watch The International in 2017 and lost my voice for cheering on my team.</p>
            <img src="/images/e-sports.jpg" class="Hobby-image">
        </div>
        <div class="col-lg-3 col-sm-6">
            <h2 class="Value-category">Hiking</h2>
            <p class="Hobbies-text">Going to the outdoors and exploring nature through hiking is one of my favorite past times. I find that the best place for me to reflect about my life and my actions is in deep nature. It is through hiking where I can genuinely disconnect from all of my problems and ask myself about what really matters to me.</p>
            <img src="/images/outdoor-hobby.jpg" class="Hobby-image">
        </div>
        <div class="col-lg-3 col-sm-6">
            <h2 class="Value-category">Reading</h2>
            <p class="Hobbies-text">I deeply cherish reading great books as I believe reading is the greatest medium for growing one's self. My favorite genre's are books in psychology and self-help. Some of my most beloved books are Quiet by Susan Cain, The Subtle Art of Not Giving a F*ck by Mark Manson, and Man's Search for meaning by Viktor Frankl.</p>
            <img src="/images/reading.jpg" class="Hobby-image">
        </div>
    </div>
</div>

<div class="Quote">
    <p>
        "A good life is not a life without problems. A good life is a life with good problems"
    </p>
    <p> - Mark Manson</p>
</div>

<div class="Values">
    <p class="Values-Header"> Core Values </p>
    <div class="row Values-content">
        
        <div class="col-lg-4 col-sm-6 val-col1">
            <h2 class="Value-category">Meaningful Work</h2>
            <p class="Value-text">Ground round kielbasa beef ribs frankfurter pork chop beef leberkas. Tail leberkas beef ribs cupim. Sausage pork chop cow flank buffalo capicola frankfurter. Salami meatball pork chop pork belly short loin sausage beef ribs pancetta tail picanha corned beef. Capicola strip steak spare ribs biltong short ribs</p>
            <img src="/images/meaning.JPG" class="Values-img">
        </div>
        <div class="col-lg-4 col-sm-6 val-col2">
            <h2 class="Value-category">Resourceful</h2>
            <p class="Value-text">Ground round kielbasa beef ribs frankfurter pork chop beef leberkas. Tail leberkas beef ribs cupim. Sausage pork chop cow flank buffalo capicola frankfurter. Salami meatball pork chop pork belly short loin sausage beef ribs pancetta tail picanha corned beef. Capicola strip steak spare ribs biltong short ribs</p>
            <img src="/images/resourceful.jpg" class="Values-img">
        </div>
        <div class="col-lg-4 col-sm-6 val-col3">
            <h2 class="Value-category">Stoic</h2>
            <p class="Value-text">Ground round kielbasa beef ribs frankfurter pork chop beef leberkas. Tail leberkas beef ribs cupim. Sausage pork chop cow flank buffalo capicola frankfurter. Salami meatball pork chop pork belly short loin sausage beef ribs pancetta tail picanha corned beef. Capicola strip steak spare ribs biltong short ribs</p>
            <img src="/images/stoic.jpg" class="Values-img">
        </div>
    </div>
</div>

<% include ./partials/footer %> 