<% include ./partials/header %> 

<div class="wrapper">
    <div class="Banner">
        <img class ="dude-icon" src ="/images/man.png">
        <p class="Header-text">Hi, I am Jan!</p>
        <div class="Banner-text">
          <p>Pork chop tongue pork loin capicola rump salami tail sirloin burgdoggen strip steak chuck bacon. Shankle biltong strip steak jerky frankfurter ham. Rump kevin turducken, salami venison prosciutto beef t-bone</p>
          <p>Biltong kevin chicken meatloaf, shank venison turkey boudin capicola tri-tip buffalo bacon landjaeger sirloin sausage. Pork drumstick beef, rump doner frankfurter sirloin burgdoggen shoulder porchetta. </p>
        </div>
    </div>
</div>

<div class="Hobbies">
    <p class="Hobbies-Header">Favorite Hobbies</p>
    <div class="row Hobbies-row">
        <div class="col-lg-3 col-sm-6">
            <p class="Hobbies-text">Ground round kielbasa beef ribs frankfurter pork chop beef leberkas. Tail leberkas beef ribs cupim. Sausage pork chop cow flank buffalo capicola frankfurter. Salami meatball pork chop pork belly short loin sausage beef ribs pancetta tail picanha corned beef. Capicola strip steak spare ribs biltong short ribs</p>
            <img src="/images/tennis.jpg" class="Hobby-image">
        </div>
        <div class="col-lg-3 col-sm-6">
            <p class="Hobbies-text">Ground round kielbasa beef ribs frankfurter pork chop beef leberkas. Tail leberkas beef ribs cupim. Sausage pork chop cow flank buffalo capicola frankfurter. Salami meatball pork chop pork belly short loin sausage beef ribs pancetta tail picanha corned beef. Capicola strip steak spare ribs biltong short ribs</p>
            <img src="/images/e-sports.jpg" class="Hobby-image">
        </div>
        <div class="col-lg-3 col-sm-6">
            <p class="Hobbies-text">Ground round kielbasa beef ribs frankfurter pork chop beef leberkas. Tail leberkas beef ribs cupim. Sausage pork chop cow flank buffalo capicola frankfurter. Salami meatball pork chop pork belly short loin sausage beef ribs pancetta tail picanha corned beef. Capicola strip steak spare ribs biltong short ribs</p>
            <img src="/images/outdoor-hobby.jpg" class="Hobby-image">
        </div>
        <div class="col-lg-3 col-sm-6">
            <p class="Hobbies-text">Ground round kielbasa beef ribs frankfurter pork chop beef leberkas. Tail leberkas beef ribs cupim. Sausage pork chop cow flank buffalo capicola frankfurter. Salami meatball pork chop pork belly short loin sausage beef ribs pancetta tail picanha corned beef. Capicola strip steak spare ribs biltong short ribs</p>
            <img src="/images/reading.jpg" class="Hobby-image">
        </div>
    </div>
</div>

<div class="Quote">
    <p>
        "A good life is not a life without problems. A good life is a life with good problems"
    </p>
    <p> - Mark Manson</p>
</div>

<div class="Values">
    <p class="Values-Header"> Core Values </p>
    <div class="row Values-content">
        
        <div class="col-lg-4 col-sm-6 val-col1">
            <h2 class="Value-category">Meaningful Work</h2>
            <p class="Value-text">Ground round kielbasa beef ribs frankfurter pork chop beef leberkas. Tail leberkas beef ribs cupim. Sausage pork chop cow flank buffalo capicola frankfurter. Salami meatball pork chop pork belly short loin sausage beef ribs pancetta tail picanha corned beef. Capicola strip steak spare ribs biltong short ribs</p>
            <img src="/images/meaning.JPG" class="Values-img">
        </div>
        <div class="col-lg-4 col-sm-6 val-col2">
            <h2 class="Value-category">Resourceful</h2>
            <p class="Value-text">Ground round kielbasa beef ribs frankfurter pork chop beef leberkas. Tail leberkas beef ribs cupim. Sausage pork chop cow flank buffalo capicola frankfurter. Salami meatball pork chop pork belly short loin sausage beef ribs pancetta tail picanha corned beef. Capicola strip steak spare ribs biltong short ribs</p>
            <img src="/images/resourceful.jpg" class="Values-img">
        </div>
        <div class="col-lg-4 col-sm-6 val-col3">
            <h2 class="Value-category">Stoic</h2>
            <p class="Value-text">Ground round kielbasa beef ribs frankfurter pork chop beef leberkas. Tail leberkas beef ribs cupim. Sausage pork chop cow flank buffalo capicola frankfurter. Salami meatball pork chop pork belly short loin sausage beef ribs pancetta tail picanha corned beef. Capicola strip steak spare ribs biltong short ribs</p>
            <img src="/images/stoic.jpg" class="Values-img">
        </div>
    </div>
</div>

<% include ./partials/footer %> 